doctype html
html(lang="fi")
    include includes/head.pug

    main.container
        br
        h1 Page not found
        p
            | Vaikuttaisi silt채, ett채 olet eksynyt. T채t채 sivua ei ole olemassa.
            |
