doctype html
html(lang="fi")
    include includes/head.pug

    main.container
        br
        h1 404 - Sivua ei löytynyt
        p
            | Vaikuttaisi siltä, että olet eksynyt. Tätä sivua ei ole olemassa.
            |
