* {
    box-sizing: border-box;
}

.form-inline {
    display: flex;
    gap: 20px;
}

code {
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre;
    position: relative;
    overflow-y: auto !important;
    overflow-x: auto !important;
}

code, pre {
    background-color: #fafafa;
}

a.btn.btn-default.btn-ghost {
    padding: 8.5px 20px;
    margin-top: 1.25px;
}

@media screen and (max-width: 400px) {
    .form-inline {
        flex-direction: column;
    }
}